@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Great+Vibes&display=swap");

@import "tailwindcss";

body {
	@apply m-0;
	font-family:
		-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family:
		source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.cedarville-cursive-regular {
	font-family: "Cedarville Cursive", cursive;
	font-weight: 400;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Cedarville Cursive", cursive;
}

h2 {
	font-size: 2.25rem;
	line-height: 2.5rem;
	color: #527c7d;
}

p,
a {
	letter-spacing: 1.2px;
	line-height: 200%;
}
